<h1>Admin</h1>

<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#newProductModal">
  Add new Product
</button>

<!-- Modal -->
<div class="modal fade" id="newProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_tag url: "/newProduct", method: :post do %>

        <div class="form-group">
          <%= label_tag :name %>
          <%= text_field_tag :name, "", type: "text", class: "form-control", placeholder: "Fried Placenta..." %>
        </div>

        <div class="form-group">
          <%= label_tag :image %>
          <div class="custom-file">
            <%= file_field_tag :image, class: "custom-file-input" %>
           <label class="custom-file-label" for="customFile">Choose file</label>
          </div>
        </div>

        <div class="form-group">
          <%= label_tag :ingredients %>
          <%= text_field_tag :ingredients, "", type: "text", class: "form-control", placeholder: "Cyanide, Happiness..." %>
        </div>

        <div class="form-group">
          <%= label_tag :description %>
          <%= text_area_tag :description, "", class: "form-control", placeholder: "A deep fried placenta dusted with cyanide...", style: "resize: none;" %>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= submit_tag 'Create', class: "btn btn-success mb-2", style: "float: right;" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>

<% @products.each do |p| %>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="p.image" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">p.name</h5>
    <p class="card-text">p.ingredients</p>
    <p class="card-text">p.description</p>
    <a href="#" class="btn btn-success">Go somewhere</a>
  </div>
</div>

<% end %>
